$priamryColor: #015cb5;
$sec_color: #1d1d1d;
$back_color: #ecf1ff;
$shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $back_color;
  font-family: 'lato', sans-serif;
}

.container {
  max-width: 1457px;
  margin: 0 auto;
}

#Header {
  margin-top: 10px;

  .HeaderContent {
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: $shadow;
    padding: 15px 20px;

    #nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 25px;
        color: $sec_color;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        flex: 2;
      }

      .navItems {
        display: flex;
        list-style: none;
        flex: 2;

        .item {
          padding: 0 20px;
          cursor: pointer;
        }
      }

      .dropdown {
        font-size: 16px;
        font-weight: bold;
        border: 1px solid lightgray;
        padding: 5px 15px;
        background-color: #f9fbff;
        flex: 1;
        max-width: 200px;
        margin-right: 40px;
      }

      .F-back {
        background-color: transparent;
        width: 60px;
        height: 40px;
        overflow: hidden;
        border: none;

        #backcolor {
          width: 60px;
          height: 60px;
          border: none;
          border-radius: 50%;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

// add word section
.AddWord {
  display: flex;
  justify-content: end;
  margin-top: 10px;

  .back {
    background-color: #fff;
    width: 50px;
    height: 50px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
    border-radius: 8px;
    cursor: pointer;
  }
}

// End of add word section
//popup

#popup {
  &.active {
    display: none;
  }

  .popupBack {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #015bb575;
    backdrop-filter: blur(5px);

    .AddContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 1200px;
      height: 684px;
      background-color: #ffff;
      box-shadow: $shadow;
      border-radius: 8px;

      .title {
        font-size: 86px;
        text-align: center;
        margin-top: 15px;
      }

      .inputsFeild {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 737px;

        .Input {
          width: 100%;
          position: relative;

          #text1:focus,
          .text11 {
            top: -1.22rem;
            font-size: 0.8rem;
            left: 0;
          }

          label {
            position: absolute;
            color: $sec_color;
            top: 1.2rem;
            left: 1.5rem;
            cursor: text;
            transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
          }

          input {
            width: 100%;
            padding: 20px;
            background-color: #fefefe;
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            outline: none;

            &:hover {
              border-color: #015cb5;
            }

            &:focus {
              border-color: #015cb5;
            }
          }

          textarea {
            width: 100%;
            resize: none;
            padding: 20px;
            background-color: #fefefe;
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            outline: none;

            &:hover {
              border-color: #015cb5;
            }

            &:focus {
              border-color: #015cb5;
            }
          }

          textarea:focus,
          .text11 {
            top: -1.22rem;
            font-size: 0.8rem;
            left: 0;
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;
          gap: 10px;

          button {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            background-color: rgb(255, 81, 50);
            cursor: pointer;

            &:first-child {
              background-color: $priamryColor;
            }
          }
        }
      }
    }
  }
}

//End popup
// next section
#Home {
  display: block;
}

#Words {
  display: none;
}

#Libary {
  display: none;
}

#Tests {
  display: none;
}
